// ==========================================================================
// Global Config
// ==========================================================================


// TYPOGRAPHY

//$font-url--gentium: 'http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic';

$font-family--primary: Helvetica, Arial, sans-serif;
$base__font-size: 16px;
$base__line: 24px;


// Descriptive Base Colors

$white     : #fff;
$black     : #000000;
$light-grey: #e2e2e2;

// Color Usage

//$primary-color     : $cinnabar;
//$secondary-color   : $fiord;
//$third-color       : $boston-blue;
//$quote-color       : $curious-blue;
//$h2-blue           : $hippie-blue;
//$link-hover        : palettes(grey);

//$shadow-color      : rgba($black, .2);